# Игнорирование папки с моделью Vosk
model/

# Системные файлы маркеров сна
.sleep_never_marker

# Кэш Python и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd
.tmp/
temp/

# Временные аудиофайлы записи
*.wav

# Системные файлы ОС
.DS_Store
Thumbs.db